 @font-face { 
  font-family: 'exo-medium';
  src: url('../fonts/Exo2-Medium.ttf') format('truetype');
}

 @font-face { 
  font-family: 'exo-regular';
  src: url('../fonts/Exo2-Regular.ttf') format('truetype');
}

 @font-face { 
  font-family: 'exo-light';
  src: url('../fonts/Exo2-Light.ttf') format('truetype');
}

 @font-face { 
  font-family: 'exo-thin';
  src: url('../fonts/Exo2-Thin.ttf') format('truetype');
}


/* ===================  top left block  ================== */
.content-block {
    background-color: #2d3337;
    width: 100%;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: 5px;
    padding: 0 45px 0 27px;
}

.content-block-title {
    padding-top: 15px;
    padding-left: 22px;
    padding-bottom: 19px;
    color: #f5f5f5;
    font-size: 16px;
    font-family: "exo-light";
    letter-spacing: 1px;
    font-weight: bold;
}

.content-block-number {
    font-size: 36px;
    padding-left: 8px;
    color: #f5f5f5;
    float: left;
    margin-top: -15px;
    padding-right: 20px;
    font-family: "exo-light";
}

.content-block-number-2 {
    font-size: 36px;
    color: #f5f5f5;
    float: left;
    margin-top: -15px;
    padding-right: 20px;
    font-family: "exo-light";
}

.content-block-number-3 {
    font-size: 36px;
    color: #f5f5f5;
    float: left;
    margin-top: -15px;
    padding-right: 20px;
    font-family: "exo-light";
    margin-left: -40px;
}

.content-block-text {
    color: #737577;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-top: -2px;
    font-family: "exo-regular";
    letter-spacing: 1px;

}

@media (max-width: 1370px) {
    .content-block-text {
        font-size: 9px;
    }
    .content-block-number {
        font-size: 28px;
    }
    .content-block-number-2 {
        margin-left: 0px;
        font-size: 28px;
        letter-spacing: 0;
    }
    .content-block-number-3 {
        font-size: 28px;
    }
    .line-r {
        margin-right: 25px !important;
    }
    .content-block {
        height: 315px;
    }
    .line {
        margin-right: -20px !important;
    }
}

.line {
    border-right: 1px solid #3f4448;
    height: 28px;
    margin-right: 15px;
}

.line-r {
    border-right: 1px solid #3f4448;
    height: 28px;
    margin-right: 35px;
}

.padd {
    padding-top: 23px;
}

.line-0 {
    border-bottom: 1px solid #3f4448;
    margin-right: 21px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.content-block-title-2 {
    padding-left: 22px;
    padding-bottom: 19px;
    color: #f5f5f5;
    font-size: 16px;
    font-family: "exo-light";
    letter-spacing: 1px;
    font-weight: bold;
}


/* ================  bottom left block  ================ */

.content-block-bottom {
    background-color: #31383d;
    width: 100%;
    border-radius: 3px;
    height: 315px;
    margin-left: 5px;
    margin-top: 20px;
}

.title-block {
    height: 60px;
    background-color: #2d3337;
    color: #f5f5f5;
    padding-left: 20px;
    line-height: 60px;
    font-size: 18px;
    border-bottom: 1px solid #1a1d1e;
    font-family: "exo-regular";
    font-weight: bold;
}

.border-bottom-block {
    border-bottom: 1px solid #1a1d1e;
}
.border-top-block {
    border-top: 1px solid #3f4447;
}

.icon-block {
    background-image: url(../img/icon.png);
    width: 17px;
    height: 17px;
    margin-left: 15px;
    margin-top: 35px;
    float: left;
    margin-right: 20px;
}

.line-2 {
    border-left: 2px solid #3f4448;
    margin-top: 10px;
    height: 60px;
}

.text-top-block {
    font-weight: bold;
    font-size: 14px;
    padding-left: 20px;
    margin-left: 15px;
    float: left;
    color: #f5f5f5;
    padding-top: 7px;
    text-transform: uppercase;
    line-height: 1.1em;
    font-family: "exo-regular";
}

.text-bottom-block {
    position: absolute;
    padding-left: 20px;
    margin-top: 40px;
    padding-right: 10px;
    padding-top: 10px;
    color: #cacbcc;
    font-size: 14px;
    line-height: 1em;
    margin-left: 15px;
    font-family: "exo-thin";
    font-weight: bold;
}

.bottom-line {
    border-top: 2px solid #3f4448;
    width: 90%;
}

@media (max-width: 1400px) {
    .text-top-block {
        font-size: 9px;
        padding-bottom: 10px;
        margin-left: 7px;
        padding-left: 15px;
    }
    .text-bottom-block {
        font-size: 12px;
        line-height: 1em;
        margin-left: 7px;
        padding-left: 15px;
    }
    .icon-block {
        margin-left: 5px;
    }
    .icon-block-2 {
        margin-left: 5px !important;
    }
    .text-bottom-block-2 {
        font-size: 10px;
        padding-right: 35px;
    }
    .custom-button-right {
        margin-top: 20px !important;
        font-size: 10px !important;
        padding-left: 13px !important;
        padding-right: 15px !important;
        height: 35px !important;
        margin-left: -10px !important;
        padding-top: 8px !important;
    }
}

.custom-scroll {
    overflow: scroll;
    overflow-y: visible;
    width: 100%;
    height: 240px;
    overflow-x: hidden;
    height: 100%;
}

.bg-bottom-block {
    background-color: #31383d;
}

.custom-button-right {
    margin-top: 15px;
    margin-left: 1px;
    height: 48px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    border-radius: 3px;
    border: 1px solid #67809f;
    text-align: center;
    color: #f5f5f5;
    float: left;
    background-color: #3c4651;
    font-family: "exo-medium";
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}

 .custom-button-right:hover {
     background-color: #67809f;
 }

.line-3 {
    border-bottom: 1px solid #3f4448;
    top: 70px;
    margin-left: 1px;
    margin-right: 25px;
    position: relative;
    padding-bottom: 20px;
}

/* =========== */

.padd-2 {
    margin-top: 75px;
}

.icon-block-2 {
    background-image: url(../img/icon-1.png);
    width: 19px;
    height: 16px;
    margin-left: 15px;
    margin-top: 35px;
    float: left;
    margin-right: 20px;
}



/* ============  Bottom block  ================= */

.content-block-2-right {
    width: 98%;
    height: 678px;
    background-color: #31383d;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 20px;
}

.top-color {
    width: 100%;
    height: 67px;
    background-color: #2d3337;
}

.title-content-block-2 {
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 18px;
    color: #f5f5f5;
    font-family: "exo-medium";
    font-size: 16px;
    font-weight: bold;
}



.custom-checkbox-style {
    float: left;
    line-height: 0px;
    margin-left: -25px;
    margin-top: 10px;
}

.checkbox-text {
    margin-top: -2px;
    margin-left: 30px;
    padding-right: 15px;
    margin-bottom: 0px !important;
}

.tbl {
    width: 100%;
    line-height: 45px;
    background-color: #31383d;
}

.bg-tbl:hover {
    background-color: #2d3337;
    cursor: pointer;
}

.text-t {
    padding-left: 0px;
}

.b-r {
    border-left: 1px solid #1a1d1e;
    padding-left: 49px;
    border-bottom: 1px solid #1a1d1e;
    font-family: "exo-thin";
    font-size: 14px;
    color: #f5f5f5;
    font-weight: bold;
}

.b-r-stat {
    border-left: 1px solid #1a1d1e;
    padding-left: 49px;
    border-bottom: 1px solid #1a1d1e;
    font-family: "exo-regular";
    font-size: 14px;
    font-weight: bold;
}

@media (max-width: 1300px) {
    .b-r {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.b-r-2 {
    padding-left: 50px;
    border-bottom: 1px solid #1a1d1e;
}

.b-r-c {
    padding-left: 50px;
    border-bottom: 1px solid #1a1d1e;
    background-color: #2d3337;
    line-height: 65px;
    width: 100%;
}

.pad1 {

}

.pad2 {
    margin-left: -32px;
}
.pad3 {
    margin-left: -55px;
}
.pad4 {
    margin-left: -92px;
}
.pad5 {
    margin-left: -82px;
}

.hidd-text {
    color: transparent;
    padding-right: 10px;
}

.hidd-text:hover {
    color: #67809f;
}


table {
    border-collapse: separate;
}
.bottom-fixed-block {
    position: absolute;
    bottom: -80px;
    width: 100%;
    height: 80px;
    background-color: #2d3337;
    border-top: 1px solid #42484c;
}

.button-right-fixed-block {
    margin-top: 20px;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    margin-right: 20px;
    border-radius: 3px;
    border: 1px solid #67809f;
    text-align: center;
    color: #f5f5f5;
    float: right;
    background-color: #3c4651;
    font-family: "exo-medium";
    font-size: 14px;
    cursor: pointer;
}
 .button-right-fixed-block:hover {
     background: #67809f;
 }

.open-text {
    color: #d25253;
}

.check-text {
    color: #fff799;
}

.point-left {
    padding-left: 7px;
    background-image: url(../img/point-red.png);
    width: 8px;
    height: 8px;
    margin-top: 16px;
    margin-left: 7px;
    float: left;
}

.point-2 {
    padding-left: 7px;
    background-image: url(../img/point-2.png);
    width: 8px;
    height: 8px;
    margin-top: 16px;
    margin-left: 7px;
    float: left;
}

.point-3 {
    padding-left: 7px;
    background-image: url(../img/point-3.png);
    width: 8px;
    height: 8px;
    margin-top: 16px;
    margin-left: 7px;
    float: left;
}

.custom-button-right-2 {
    margin-top: 20px;
    margin-left: 20px;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    border-radius: 3px;
    border: 1px solid #67809f;
    text-align: center;
    color: #f5f5f5;
    float: left;
    background-color: #3c4651;
    font-family: "exo-medium";
    font-size: 14px;
}

.line-4 {
    border-bottom: 1px solid #3f4448;
    position: relative;
    margin-bottom: 5px;
    margin-top: 11px;
    width: 95%;
}

.custom-scroll-2 {
    overflow: scroll;
    overflow-y: visible;
    width: 100%;
    height: 600px;
    overflow-x: hidden;
}

.padd-3 {
    padding-top: 50px;
}

@media (max-width: 1400px) {
    .custom-checkbox-style {
        margin-left: -12px !important;
    }
}


/* ================  Checkbox  =============== */
.i-checkbox .checkbox-wrap input { display: none; }

.i-checkbox.checkbox-wrap label div {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #8498b1;
    text-align: center;
    line-height: 20px;
    margin-right: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    color: #ffffff;
}

.i-checkbox.checkbox-wrap label i {
    font-size: 16px;
    opacity: 0;    
}

.i-checkbox.checkbox-wrap label:hover div {
    background: transparent;
}

.i-checkbox.checkbox-wrap input:checked + label i {
    opacity: 1;
}

.i-checkbox.checkbox-wrapinput:checked + label div {
    background: #fff;
}



/* =============  Scroll  ============ */
/*.custom-scroll .overview {
  width: 100%;
}*/
/*.custom-scroll-2 .overview {
  width: 100%;
}*/
/*.scrollable .scroll-bar.vertical {
  position: absolute;
  right: 0;
  height: 100%;
  width: 10px;
  z-index: 1;
  background-color: #282d30;
}

.scrollable .scroll-bar.vertical .thumb {
  width: 100%;
  min-height: 10px;
  position: relative;
  background-color: #3d4246;
}*/




.custom-scroll .mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 7px;
    height: 40px !important;
    background-color: #3d4246;
    z-index: 1;
}

.custom-scroll .mCSB_scrollTools {
    position: absolute;
    width: 7px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    margin-right: 7px;
    margin-top: 3px;
}

.custom-scroll-2 .mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 7px;
    height: 125px !important;
    background-color: #3d4246;
    z-index: 1;
}

.custom-scroll-2 .mCSB_scrollTools {
    position: absolute;
    width: 7px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    background: #282d30;
}

/*========================*/
 .col-lg-1 {
   width: 171px;
  }
  .col-lg-11 {
   width: calc(100% - 171px);
  }


/* =====  link  ===== */
.left-menu {
    background: #2d3337;
    height: 120px;
    margin-top: 1px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
    color: #67809f;
    font-size: 12px;
    font-weight: 300;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    text-transform: uppercase;
}
.sidebar-menu a {
    text-decoration: none;
}
.left-menu img {
    margin-bottom: 15px;
}
.left-menu:hover {
    background: #67809f;
    color: #fff;
}




.i-custom-button-3 {
    margin-left: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #67809f;
    text-align: center;
    color: #fff;
    float: left;
    letter-spacing: 1px;
    font-family: "exo-medium";
    font-size: 16px;
    background-color: #39424c;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}
.i-custom-button-3:hover {
    background-color: #67809F;
    color: #fff;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}
.i-custom-button-parent a {
    text-decoration: none;
}
.i-custom-button-link {
    position: absolute;
    color: #67809f;
    margin-left: 25px;
    margin-top: 32px !important;
    font-size: 16px;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}
.i-custom-button-link:hover {
    color: #fff;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}


.i-custom-select-1 select {
    border-radius: 1px;
    border: 1px solid #4e565c !important;
    height: 40px !important;
    min-width: 280px !important;
}